/*CSS for the cards in index.html*/

.card img {
    height: 200px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    background-color: orangered;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  .cardcontent {
    width: 400px;
    height: 200px;
    background-color: darkslategray;
    padding-left: 15px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .cards li {
    display: inline-block;
  }
  .cards ul {
    list-style: none;
  }
  .cards {
    padding-left: 25px;
    float: right;
  }
  .card span {
    float: right;
    padding-right: 25px;
  }
  .cardcontent p {
    width: 90%;
  }
  .card {
    padding-bottom: 5px;
  }