html {
    background-image: url("orangegradient.png");
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.active {
    color: black;
}
nav a {
    text-decoration: none;
    color: azure;
    text-transform: uppercase;
    font-size: 18px;
}
nav ul {
    list-style: none;

}
p {
    color: azure;
    width: 70%;
}
h1 {
    color: azure;
    font-size: 36px;
    font-weight: 100;
    margin-top: 0;
}
h2 {
    color: azure;
    font-weight: 100;
}    
body {
    margin: 0;
}
nav li {
    display: inline-block;
    margin-left: 50px;
    padding-bottom: 20px;
    padding-right: 25px;
}
nav {
    float: right;
    padding-top: 15px;
}
.main {
    padding-left: 25px;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
.sideinfo span {
    font-size: .6em;
    opacity: 70%;
}
.sideinfo {
  padding-left: 25px;
}
